:root {
  --background-first: #1C1C1CFF;
  --background-second: #222222FF;
  --background-third: #282c34;
  --background-light: #dadada;
  --title-light: #dadada;
  --title-dark: #dadada;
  --accent-color: #3a5ace;
  --font-color: white;
  --border-color: #FFFFFF3F;
  --error-color: firebrick;
  --liquid-after-color: #1C1C1C7F;
}
